body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #222;
  background-color: #ffffff;
  transition: background-color 0.5s ease;
}

.h1 {
  font-size: 20vmin;
  font-weight: 50;
  color: #222;
  padding-top: 10%;
  text-align: center;
  position: relative; 
  z-index: 2; 
}

.parallax {
  background-image: url("images/building.png");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: relative;
  text-align: center;
}

.sketches {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.panel {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* outline: 10px solid hotpink; */
}

.process {
  display: flex;
  margin-left: 10vmin;
}

.color-white {
  background-color: #ffffff;
}
.color-black {
  background-color: #222;
}

section {
  padding-top: 5vmin;
  padding-inline: 10vmin;
  background-color: #ffffff;
  color: #222;
  line-height: 300%;
  font-size: 3vmin;
}

.dark {
  color: #ffffff;
  background-color: #222;  
}

iframe {
  display: block;
  margin: 0 auto;
  padding-left: 10vmin;
  overflow-y: visible;
  width: 100%;
  max-width: 100%;
  min-height: calc(100vh - 200px);
}



